.card{
  background-color: #f2f5fb;
  border: none;
  height: 100%;
}
.box1{
    width: 100%;
    padding: 90px 140px 90px 90px;
    min-height: 600px;
  }
  h3{
    font-size: 15px;
    line-height: 19px;
    font-weight: 500;
    
  }
  .form-group input.ng-invalid.ng-touched {
      
    border-left:8px solid red;
  }
  .form-group input.ng-valid:not(form).ng-touched{
    border-left: 8px solid green;

}

