<div id="sect1">
    <h1 class="car">Find Your&nbsp;<span style="color: #ff4605;">Perfect</span>&nbsp;Car</h1>
    <br><br>

    <!-- <div class="card flex justify-content-center">
        <p-card header="Advanced Card" subheader="Card Subheader" [style]="{ width: '360px' }">
            <ng-template pTemplate="header">
                <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
            </ng-template>
            <p>
            </p>
            <ng-template pTemplate="footer">
                <p-button label="Save" icon="pi pi-check"></p-button>
                <p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
            </ng-template>
        </p-card>
    </div> -->

    <div class="card flex justify-content-center">
        <p class="m-0">
            <p-toolbar>
                <div class="p-toolbar-group-start">
                    <p-dropdown [options]="Model" placeholder="All Makes" optionLabel="name" [showClear]="true" autoWidth="false" [style]="{'width':'120%'}">
                    </p-dropdown>&nbsp;&nbsp;
                    <p-dropdown [options]="lang" placeholder="All Models" optionLabel="name" [showClear]="true" autoWidth="false" [style]="{'width':'100%', 'margin-left':'30px'}">
                    </p-dropdown>&nbsp;&nbsp;
                    <p-dropdown [options]="price" placeholder="All price" optionLabel="name" [showClear]="true" autoWidth="false" [style]="{'width':'100%', 'margin-left':'30px'}">
                    </p-dropdown>&nbsp;&nbsp;
                    <div class="p-toolbar-group-end" style="float: right;">
                        <p-button icon="pi pi-search" styleClass="p-button-warning" [style]="{'width':'200%','margin-left':'30px'}">Search</p-button>
                    </div>
                </div>
            </p-toolbar>
        </p>
</div>
    <br>
    <br>
    <br>
    <!-- <div style="margin-left: 10cm;">
        <div>
            <img src="../../assets/images/car1.svg"
                style="height: 5%;width: 5%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="../../assets/images/car2.svg"
                style="height: 5%;width: 5%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="../../assets/images/car7.svg"
                style="height: 5%;width: 5%; ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="../../assets/images/car5.svg"
                style="height: 5%;width: 5%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <img src="../../assets/images/car6.svg"
                style="height: 5%;width: 5%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        </div>
        <span style="color: rgb(218, 23, 23)">
            <a>Sedan</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a
                style="margin-left: 0.7cm;">Cupe</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a>Suv</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a>Hatchback</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a>Convertible</a>
        </span>


    </div> -->
</div>