.card{
  background-color: #FFF;
  border: none;
  height: 100%;
}
fieldset {
    overflow: hidden
  }

  .some-class {
    float: left;
    clear: none;
  }
  
  label {
    float: left;
    clear: none;
    display: block;
    padding: 0px 1em 0px 8px;
  }
  
  input[type=radio],
  input.radio {
    float: left;
    clear: none;
    margin: 8px 0 0 2px;
  }

  .box1{
    width: 100%;
    padding: 90px 140px 90px 90px;
    min-height: 600px;
  }
h3{
  font-size: 15px;
    line-height: 19px;
    font-weight: 500;
}
  .form-group input.ng-invalid.ng-touched {
      
    border-left:8px solid red;
  }
  .form-group input.ng-valid:not(form).ng-touched{
    border-left: 8px solid green;
    
}